<a href="https://colab.research.google.com/github/Ashishkumarpanda/IPL-prediction/blob/master/Untitled61.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload() #this file will be, the api kaggle.json generated from your kaggle account.
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [2]:
!kaggle datasets download -d nowke9/ipldata

Downloading ipldata.zip to /content
  0% 0.00/1.20M [00:00<?, ?B/s]
100% 1.20M/1.20M [00:00<00:00, 40.1MB/s]

In [ ]:
!mkdir ipl_data
!unzip ipldata.zip -d ipl_data

In [ ]:
import pandas as pd
df = pd.read_csv('ipl_data/matches.csv')
df.head()

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import metrics
import seaborn as sns
import matplotlib.pyplot as plt
df_deliv = pd.read_csv('ipl_data/deliveries.csv')

In [13]:
df_deliv.isnull().sum()

match_id         0
inning           0
batting_team     0
bowling_team     0
over             0
ball             0
batsman          0
non_striker      0
bowler           0
is_super_over    0
wide_runs        0
bye_runs         0
legbye_runs      0
noball_runs      0
penalty_runs     0
batsman_runs     0
extra_runs       0
total_runs       0
dtype: int64

In [16]:
df_deliv.head()

   match_id  inning         batting_team  ... batsman_runs  extra_runs  total_runs
0         1       1  Sunrisers Hyderabad  ...            0           0           0
1         1       1  Sunrisers Hyderabad  ...            0           0           0
2         1       1  Sunrisers Hyderabad  ...            4           0           4
3         1       1  Sunrisers Hyderabad  ...            0           0           0
4         1       1  Sunrisers Hyderabad  ...            0           2           2

[5 rows x 18 columns]

In [11]:
col=['player_dismissed',
'dismissal_kind',
'fielder']

In [12]:
df_deliv.drop(col,axis=1,inplace=True)

In [29]:
encoder=LabelEncoder()
df_deliv['batting_team']=encoder.fit_transform(df_deliv['batting_team'])
df_deliv['bowling_team']=encoder.fit_transform(df_deliv['bowling_team'])
df_deliv['batsman']=encoder.fit_transform(df_deliv['batsman'])
df_deliv['non_striker']=encoder.fit_transform(df_deliv['non_striker'])
df_deliv['bowler']=encoder.fit_transform(df_deliv['bowler'])

In [30]:
df_deliv.head()

   match_id  inning  batting_team  ...  player_dismissed  dismissal_kind  fielder
0         1       1            14  ...               NaN             NaN      NaN
1         1       1            14  ...               NaN             NaN      NaN
2         1       1            14  ...               NaN             NaN      NaN
3         1       1            14  ...               NaN             NaN      NaN
4         1       1            14  ...               NaN             NaN      NaN

[5 rows x 21 columns]

In [ ]:
x=np.array(df_deliv['batsman'])

In [19]:
x=df_deliv.iloc[:,0:17].values
y=df_deliv.iloc[:,17].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [21]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [22]:
r=RandomForestClassifier(n_estimators=100)
r.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
y_pred=r.predict(x_test)

In [25]:
val=metrics.accuracy_score(y_test,y_pred)
print("accuracy of model =",str(val*100)+" %")

accuracy of model = 99.89847028563693 %